{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block navitems %}
{% for nav in mainpages %}
    <div class="{{ nav.specific.label }} {% if nav.specific.label == label %} selected {% endif %}"> <a href="{% pageurl nav.specific %}">{{ nav.specific.label }}</a></div>
{% endfor %}
{% endblock %}

{% block content %}
  <h1> {{ page.title }} </h1>
  <h2> {{ page.date }} </h2>
  <div class="tags">
    {% for tag in page.tags.all %}
      <span>{{ tag.specific.text }}</span>
    {% endfor %}
  </div>
{{ page.body }}
</div>

{% endblock %}
